<!doctype html>
<html lang="en">

<head>
    <title>{{ name }}</title>
</head>

<body>
    <h1>{{ name }}</h1>
    <h3>
        {% if !all %}
        {{ limit }} Most Recent Publishes:
        {% else %}
        All Publishes:
        {% endif %}
    </h3>
    <ul>
        {% for (pkg, vers, yanked) in packages %}
        <li>{{ pkg }} {{ vers }} {% if yanked == "true" %}(yanked){% endif %}</li>
        {% endfor %}
    </ul>
    {% if !all %}
    <p>
        <a href="?all=true">Show All Publishes</a>
    </p>
    {% endif %}
</body>

</html>